.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
}

.left {
  background-color: #d7d0c0;
  width: 50%;
}

.right {
  background-color: #d7d0c0;
  width: 50%;
}
