.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #d7d0c0;
}

* {
  padding: 0;
  margin: 0;
}

.showroom {
  display: flex;
  height: 100%;
  width: 100%;
}

.left {
  width: 50%;
  height: 100%;
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: space-evenly;
}

.title {
  text-align: left;
  font-size: 1.5vw;
}

.stat {
  width: 100%;
  display: flex;
  margin: 10px 0;
}

.statName {
  width: 20%;
  text-align: left;
  font-size: 1.3vw;
}

.statBarOuter {
  display: flex;
  align-items: center;
  flex: 1;
  border: 2px solid black;
  background-color: black;
  border-radius: 4px;
}

.statBarInner {
  background-color: red;
  height: 100%;
  margin: 5px 1px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.leftArrow {
  filter: invert(31%) sepia(79%) saturate(3987%) hue-rotate(11deg)
    brightness(101%) contrast(101%);
  transform: rotateZ(90deg);
  cursor: pointer;
  width: 50px;
}

.rightArrow {
  filter: invert(31%) sepia(79%) saturate(3987%) hue-rotate(11deg)
    brightness(101%) contrast(101%);
  transform: rotateZ(-90deg);
  cursor: pointer;
  width: 50px;
}
